{# app/Resources/views/Emails/reminder_vaccin.html.twig #}
<h3>Vaccination de {{ animal }}</h3>

Bonjour {{ client }}

Nous vous invitons a vous presenter chez le Dr Thielens d'ici la semaine prochaine afin de faire le rappel vaccin de {{ animal }}

Merci beaucoup!

{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
