

{{  form_row(edit_form.photosConsultation.vars.prototype.titre) }}
{{  form_row(edit_form.photosConsultation.vars.prototype.description) }}
{{  form_row(edit_form.photosConsultation.vars.prototype.file) }}
<a class="remove-photo" href="#">Supprimer cette photo</a>
